<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('home')}}">Best BlogApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('blogs')}}">Blogs</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('new_blog')}}">New Blog</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome {{current_user.username}}!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
</nav>